.formField {
  margin-bottom: 15px;
}

.formLabel {
  color: #666;
  margin-bottom: 10px;
  display: inline-block;
}

.formInput {
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.formControl {
  border: 1px solid #ddd;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.formButton {
  border: 1px solid #111;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #222222;
  color: #fff;
  display: block;
  text-align: center;
}