.header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.logout {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 5px;
}
