.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
}

.navLink {
  color: white;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navLink.active {
  color: red !important
}
